# EditorConfig helps developers define and maintain consistent coding styles across different editors and IDEs

# Top-most EditorConfig file
root = true

# Unix-style line endings
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript files
[*.js]
indent_style = space
indent_size = 3

# JSON files
[*.json]
indent_style = space
indent_size = 3

# TypeScript files
[*.ts]
indent_style = space
indent_size = 3

# Markdown files
[*.md]
trim_trailing_whitespace = false
